{% extends 'custom_admin/base.html' %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Reports & Analytics</h2>
    <a href="{% url 'custom_admin:export_reports' %}" class="btn btn-success">
        <i class="fas fa-download"></i> Export CSV
    </a>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Monthly Donations ({{ timezone.now|date:"Y" }})</div>
            <div class="card-body">
                <canvas id="donationChart" height="200"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Blood Group Distribution</div>
            <div class="card-body">
                <ul class="list-group">
                    {% for donor in donors_by_blood_group %}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>{{ donor.blood_group }}</span>
                        <strong>{{ donor.count }} donors</strong>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="d-flex gap-2 mb-4">
             <a href="{% url 'custom_admin:export_pdf' %}" class="btn btn-danger">
               <i class="fas fa-file-pdf"></i> PDF
                  </a>
               <a href="{% url 'custom_admin:export_excel' %}" class="btn btn-success">
                <i class="fas fa-file-excel"></i> Excel
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}